name: Generar Documentaci贸n JS y Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Descargar c贸digo
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Instalar dependencias
        run: npm install

      # PASO DE LA PARTE 2 (WEB HTML)
      - name: Generar documentaci贸n HTML
        run: npm run doc

      # --- NUEVO: PASO DE LA PARTE 3 (MARKDOWN) ---
      - name: Generar documentaci贸n Markdown
        # Usamos npx para ejecutar la herramienta que instalaste en el Paso 1
        run: npx jsdoc2md src/*.js > documentacion_extra.md

      # --- NUEVO: SUBIR EL ARCHIVO COMO DESCARGABLE ---
      - name: Subir Markdown como Artefacto
        uses: actions/upload-artifact@v4
        with:
          name: documentacion-en-markdown
          path: documentacion_extra.md

      # PASO FINAL: PUBLICAR LA WEB
      - name: Publicar en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs_html